@import './materialize.scss';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');
@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline');

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

$thin-weight: 100;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 600;

h1 {


}

h2 {

	font-weight: $bold-weight;
	font-family: 'Kumar One Outline', cursive;

}

h3 {

	font-weight: $bold-weight;
	font-family: 'Gentium Basic', serif;

}

h4 {

	font-weight: $bold-weight;
	font-style: italic;

}

h5 {
	font-family: 'Gentium Basic', serif;
	font-weight: $medium-weight;

}

h6 {

	font-weight: $regular-weight;

}

p {

	font-weight: $thin-weight;

}

.card-title {

	font-family: 'Gentium Basic', serif;

}

.carousel{
	width: 200rem;
	margin: auto;
	max-width: 100%;
}

.carousel-item{
	width: 400px !important;
	max-width: 100%;
	height: auto;
}

